{#graphql
query ($url: String!) {
  route(path: $url) {
    ... on ExternalUrl {
      request {
        json {
          ... on JsonObject {
            media:path(steps: ["graphql", "user", "edge_owner_to_timeline_media", "edges"]) {
              ... on JsonList {
                items {
                  ... on JsonObject {
                    owner:path(steps: ["node", "owner", "username"]) {
                      ... on JsonLeaf {
                        value
                      }
                    },
                    url:path(steps:["node", "display_url"]) {
                      ... on JsonLeaf {
                        value
                      }
                    },
                    caption:path(steps:["node", "accessibility_caption"]) {
                      ... on JsonLeaf {
                        value
                      }
                    },
                    description:path(steps:["node", "edge_media_to_caption", "edges", "0", "node", "text"]) {
                      ... on JsonLeaf {
                        value
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#}

{% set media = graphql.route.request.json.media %}
<div{{ content_attributes.addClass('content') }}>
  {% for item in media.items %}

    <blockquote>
      <pre>{{ dump(sharedData[loop.index]) }}</pre>
      <img src="{{ item.url.value }}" alt="{{ item.caption.value }}"
           class="instagram-graphql instagram-{{ item.owner.value }}">
      <p>{{ item.description.value }}</p>
    </blockquote>

  {% endfor %}
</div>
